@font-face { font-family: 'SeoulNamsanM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'SeoulNamsanM', sans-serif;
}

html {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  height: auto !important;
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #bf37ff;
  border-right: none;
  border-bottom: none;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 200px;
  height: 50px;
  background: url('') no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
  
  filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 3px solid #bf37ff;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #bf37ff;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #bf37ff;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #bf37ff;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #bf37ff;
}

/* fa색상 */

header #header-bar .fa {
  color: #bf37ff;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #bf37ff;
}

#board-info #board-info-profile-img {
    width: 75px;
    height: 75px;
    background: url('https://thispersondoesnotexist.com/image');
    position: absolute;
    top: -15px;
    left: 5px;
    border-radius: 50%;
}

#board-info h1>a:before {
    content: "";
}

#board-info h1>a:after {
    content: "";
}

#board-info > h1 > a.badge.badge-live:before {
    content: "";
}

#board-info > h1 > a.badge.badge-live:after {
    content: "";
}



#board-info #viewers-area #viewers:before {
    content: "귀여운 트수 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 대기 중♥";
    cursor: text;
}

#board-info #viewers-area .fa-user:before {
    color: rgba(10,59,84,0);
    content: url();
}

#board-info h1 {
    margin-left: 58px;
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px solid #e2e2e2;
}

#board-info #board-info-bottom {
    padding-top: 3px;
    margin-left: 58px;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #bf37ff;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #bf37ff;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list>.article-list-row:nth-of-type(2) {
    border-top: 2px solid #bf37ff;
}

#article-list #article-list-category {
  border-top: 2px solid #bf37ff;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #bf37ff;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #bf37ff;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #bf37ff;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #bf37ff;
  border-color: #bf37ff;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #bf37ff;
}

.pagination>li>a,
.pagination>li>span {
  color: #bf37ff;
}

#article-content-wrapper>.header {
  border-top: 2px solid #bf37ff;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #bf37ff;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #bf37ff !important;
}

#article-reply-area>.header h5 {
  color: #bf37ff;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #bf37ff;
}

span.a-badge i.fa.fa-info-circle {
  color: #bf37ff;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #bf37ff !important;
}

#article-list .article-list-row:hover, #article-list div.article-list-row.notice:hover, #article-neighbor-list>div:hover {
   transform: scale(1.02);
   transition: all 0.3s ease-in-out;
   box-shadow: 3px 5px 10px -5px black;
}

/* 인기글 애니메이션 효과 */
@keyframes rotation{ from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

span.a-badge i.fa.fa-star { animation: rotation 2s infinite; }

/* 프로필 이미지 확대 효과 */
img#board-info-profile-img:hover {
    z-index: 1;
    transform: scale(4);
    transition: transform 1.2s;
}


/* dropdown animation 효과 */
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {  
  opacity: unset;
  transform: unset; 
  border: 2px solid #bf37ff;
  border-radius: 10px;  
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu { 
  display: block !important; 
  opacity: 0;  
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);   
  padding: 8px 0 3px 0px;
}

.dropdown-menu>li>a {  
  transition: .1s;
}

.dropdown-menu>li>a:hover {   
  background: transparent;
  transform: scaleX(1.04);
  transition: .1s;   
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: url();
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

#movetotop img {
  display: none;
}

/* 하트 애니메이션 효과 */
.fa-heart:before {
    color: #ff8d8d;
    animation: pulse 1.5s infinite;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(255,141,141, 0.4);
}

.fa-eye:before {
    color: #ff8d8d;
    content: "\f06e";
}

.fa-commenting:before {
    color: #ff8d8d;
    content: "\f27a";
}


/* keyframe animations */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,141,141, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,141,141, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
    box-shadow: 0 0 0 0 rgba(255,141,141, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,141,141, 0);
      box-shadow: 0 0 0 10px rgba(255,141,141, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,141,141, 0);
      box-shadow: 0 0 0 0 rgba(255,141,141, 0);
  }
}
